.header {
    background-color: white !important;
    padding: 0;
    margin: 0;
}

.navbar {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 50px;
}

body {
    font-family: 'Lora', serif;
    font-size: 16px;
    color: #000000;
    background-color: #f5f5f5;
}

svg {
    vertical-align: baseline;
}

.footer {
    text-align: center;
    color: #bae7ff;
}

.basic-layout {
    min-height: 100vh !important;
}

.home-main {
    margin: 20px;
    margin-top: 20px;
    background-color: #e6f7ff;
    border-radius: 10px;
}

.form-opacity {
    background-color: rgba(223, 226, 232, 0.1);
    border-radius: 10px;
    margin-bottom: -10px !important;
}

.bottom-link-font {
    font-size: 16px;
    font-family: 'Lora', serif;
    color: #1890ff;
}

.bottom-link-font:hover {
    color: #003a8c;
}

.title-font {
    font-size: 25px;
    font-size: 25px;
    font-family: 'Playfair Display SC', serif;
    font-weight: 600;
    color: #000000;
}

.navbar-font {
    font-size: 18px;
    font-size: 18px;
    font-family: 'Lora', serif;
    font: 50;
    font-weight: 200;
}

.login-form-info {
    font-size: 18px;
    font-family: 'Lora', serif;
    font-weight: 10;
    color: #1890ff
}

.login-form-position {
    margin-top: 20px;
    float: left;
}

.navbar {
    background-color: white;
    padding: auto;
}

.home-background {
    background-image: linear-gradient(to right, #bae7ff, #0050b3);
}

.home-table-font {
    font-size: 24 px;
    font-size: 24 px;
    font-weight: 550;
    font-family: 'Lora', serif;
    color: #000000;
    margin-left: 15px;
}

.home-ad {
    width: 92%;
    margin-left: 5%;
    border-radius: 15px
}

.qr-code {
    width: 75% !important;
    height: 75% !important;
    border-radius: 15px
}